{% extends "company/layout.html"%}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between border-bottom mt-4 pb-3">
        <div id="name">
            <h2>
                <span  class="jDetail">{{job.code}}</span>
                <input id="code" class="inputUpdate form-control form-control-lg" style="display: none;" type="text" value="{{product.nameP}}">
                <span class="jobId" hidden>{{job.id}}</span>
                <span class="jobCounty" hidden>{{job.client.county}}</span>
            </h2>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <!-- <button class="btn btn-outline-primary btn-sm mx-2" id="editProduct">Edit Job</button> -->
            <button class="btn btn-outline-danger btn-sm" id="deleteJob">Delete</button>
        </div>
    </div>

    <div id="productDetails" class="row mt-3 border-bottom">
        <div class="border-bottom col-12 row pb-2">
            <div class="col-md-4">
                <h5>
                    Client:  
                    <span class="text-info jDetail">{{job.client}}</span>
                    
                </h5>
                <h5>
                    Value: 
                    {%if job.value%} 
                        <span class="text-info jDetail jValue">{{job.value}}</span>
                    {%else%}
                        <span class="text-info jDetail jValue">0</span>
                    {%endif%}
                </h5>
            </div>
            <div class="col-md-5">
                <h2 class="form-group row">
                    <!-- Status:  -->
                    <label for="status" class="col col-form-label">Status</label>
                    <div class="col row align-items-center">
                        <select id="status" class="inputUpdate form-control">
                            {% for status in status %}
                                {%if job.status == status %}
                                    <option value="{{job.status}}" selected>{{status}}</option>
                                {%else%}
                                    <option value="{{status}}">{{status}}</option>
                                {%endif%}    
                            {%endfor%}
                          </select>
                    </div>
                    <div class="col"></div>
                </h2>
            </div> 
            <div class="col-md-3 row print">
                <a  href="{% url 'company:getItems' 'print_rfq_csv' job.id %}">Check Analysis(CSV)</a>
                <a  href="{% url 'company:getItems' 'check_analysis' job.id %}">Check Analysis(Excel)</a>
                <div class="status_type row">
                    <a class="RFQ" href="{% url 'company:getItems' 'invoice_request' job.id %}">Request Invoice</a>
                    <a class="RFQ" href="{% url 'company:getItems' 'print_rfq_pdf' job.id %}">Print RFQ(pdf)</a>
                    <a class="LPO" href="{% url 'company:getItems' 'print_DI' job.id %}" >Print Delivery & Invoice</a>
                    <a class="Paid" href="{% url 'company:getItems' 'print_receipt' job.id %}">Print Receipt</a>
                </div>
            </div>
        </div>

        <!-- To display messages from backend -->

        <!-- {% if messages %}
            {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %} -->

        <!-- Displaying the messages in bootstrap -->
            <!-- {% if messages %}
                {% for message in messages %}
                    <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    </div>
                {% endfor %}
            {% endif %} -->

    </div>

    <div class="card mt-3" id="productsSection">
        <div class="card-header d-flex justify-content-between">
            <h5>Job Products</h5>
        </div>
        
        <div class="input_status_change">

            <!-- Product input field -->
            <div class="RFQ">
                <div class="mt-2 mx-2">
                    <p class="text-info">Click Searched Item to Place the Item into the Product List</p> 
                </div>
                <div class="d-flex justify-content-between  m-2">
                    <div class="col-sm-6">
                        <input class="filterInput col-12 form-control" type="text" placeholder="Search Product">
                        <ul class="list-group list-group-flush" id="searchList"></ul>
                    </div>
                </div>
            </div>
        

            <!-- Feedding the LPO # and displaying the LPO in the LPO status -->
            <div class="LPO">
                <div class="LPO_body">
                {% if job.lpo %}
                    <div class="LPO_section">

                        <div class="mt-2 mx-2"> 
                            <h5 class="text-primary"> LPO No: {{job.lpo}}</h5>
                        </div>
                        
                        <div class="LPO">
                            <div class="mt-2 mx-2">
                                <a class="text-danger" >Click to change LPO No.</a>
                            </div>
                        </div>

                    </div>
                {%else%}
                    <div class="LPO_section">
                        <div class="mt-2 mx-2">
                            <p class="text-info">Feed in the LPO No. Below</p> 
                        </div>
                        <div class="d-flex justify-content-between  m-2">
                            <div class="col-sm-6">
                                <form id="LPO_iput" action="">
                                    <input id="" class=" LPO_iput col-12 form-control" type="text" placeholder="LPO No." required>
                                    <input type="submit" value="" hidden>
                                </form>
                            </div>
                        </div>
                    </div>
                {%endif%}
                </div>
            </div>

            <!-- Displaying the LPO and Cheque no in the respective modes -->
            {%if job.lpo %}
                <div class="RFQ Supplied Paid mt-2 mx-2"> 
                    <h5 class="text-primary"> LPO No: {{job.lpo}}</h5>
                </div>

                {%if job.cheque %}
                    <div class="RFQ LPO Paid mt-2 mx-2"> 
                        <h5 class="text-primary"> Cheque No: {{job.cheque}}</h5>
                    </div>
                {%endif%}
            {%endif%}

            <!-- Feeding in the cheque No -->
            <div class="Supplied">
                <div class="Supply_body">
                {% if job.cheque %}
                    <div class="supplied_section">

                        <div class="mt-2 mx-2"> 
                            <h5 class="text-primary"> Cheque No: {{job.cheque}}</h5>
                        </div>
                       
                        <div class="Supplied">
                            <div class="mt-2 mx-2">
                                <a class="text-danger" >Click to change Cheque No.</a>
                            </div>
                        </div>

                    </div>
                {%else%}
                    <div classs="supplied_section">
                        <div class="mt-2 mx-2">
                            <p class="text-info">Feed in the Cheque No. Below</p> 
                        </div>
                        <div class="d-flex justify-content-between  m-2">
                            <div class="col-sm-6">
                                <form id="s_iput" action="">
                                    <input id="" class=" s_iput col-12 form-control" type="text" placeholder="Cheque No." required>
                                    <input type="submit" value="" hidden>
                                </form>
                            </div>
                        </div>
                    </div>
                {%endif%}
                </div>
            </div>

        </div>

        <div class="table-responsive my-4" id="products">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="width:3%" class="text-center">#</th>
                    <th scope="col" style="width:20%" class="text-center">Name</th>
                    <th scope="col" style="width:18%" class="text-center">Category</th>
                    <th scope="col" style="width:18%" class="text-center">QTY</th>
                    <th scope="col" style="width:18%" class="text-center">Price</th>
                    <th scope="col" style="width:18%" class="text-center">Total</th>
                    <th class="status_hide" scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody id="suppliesTable">
                    {% for supply in supplies %}
                        <tr id="{{supply.id}}" class="{{supply.product.id}}">
                            <th scope="row" class="rowCounter text-center"></th>
                            <td id="name" class="text-center" >{{supply.product.nameP}} : {{supply.product.brand}} </td>
                            <td id="category" class="text-center">{{supply.product.category}}</td>
                            <td id="qty" class="text-center">{{supply.qty}}</td>
                            <td id="price" class="price text-center">{{supply.price}}</td>
                            <td id="total" class="text-center">{{supply.total}}</td>
                            <td class="status_hide">
                                <div class="d-flex justify-content-center">
                                    <button id="editButton" class="pr-1 btn btn-lg text-dark" >
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button id="deleteButton" class="pl-0 btn btn-lg text-dark">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr id="hiddenRow" style="display: none;">
                        <th scope="row" class="rowCounter text-center"></th>
                        <td class="text-center">
                            <input type="text" class="productName form-control filterInput">
                            <ul class="list-group list-group-flush" id="searchList"></ul>
                        </td>
                        <td class="text-center"><input type="text" class="category form-control" disabled></td>
                        <td id="qty" class="text-center"><input type="text" class="qty form-control" disabled></td>
                        <td id="price" class="text-center"><input type="text" class="price form-control" disabled></td>
                        <td id="total" class="text-center"><input type="text" class="total form-control" disabled></td>
                        <td class="d-flex justify-content-center">
                            <button id="saveProduct" class="pr-1 btn btn-lg text-dark" >
                                <i class="fa fa-check"></i>
                            </button>
                            <button id="cancelButton" class="pl-0 btn btn-lg text-dark">
                                <i class="fa fa-ban"></i>
                            </button>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex flex-row-reverse m-2">
            <button class="btn btn-primary" id="addProduct">Add Product</button>
        </div>

    </div>

{% if messages %}
{% for message in messages %}
    <script>
        alert('{{ message }}');
    </script>
{% endfor %}
{% endif %}  

{%endblock%}

{% load static %}

{% block scripttag%}
<script src="{% static 'company/jobDetails.js' %}"></script>
{%endblock%}

