{% extends "company/layout.html"%}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-between mr-2">
        <h1>Products</h1>
        
        <h4 class="align-self-center" id="addButton">+ Product</h4>
    </div>

    <div class="p-3 productForm">
      <form id='productForm'>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="nameP">Product</label>
            <input type="text" class="form-control" id="nameP" placeholder="Product's Name" required>
          </div>
          <div class="form-group col-md-4">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" placeholder="Products Brand" required>
          </div>

          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control">
              {% for category in categories %}
                <option value="{{ forloop.counter }}">{{category}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="productWarning my-3">
          <h5>
            Product Already Exist, Check
            <a class="searchProduct"></a>
            to edit the product
          </h5>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" required>
          </div>

          <div class="form-group col-md-4">
            <label for="supplier">Supplier</label>
            <select name="" id="supplier"  class="form-control custom-select">
              <option value="0" selected>
                <span class="text-secondary">Select Supplier</span>
              </option>
              {% for supplier in suppliers %}
                <option value="{{supplier.id}}">{{supplier.nameC}}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group col-md-2">
            <label for="size">Size</label>
            <input type="text" class="form-control" id="size" required>
          </div>

          <div class="form-group col-md-2">
            <label for="weight">Weight</label>
            <input type="text" class="form-control" id="weight" required>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Product Description" required>
        </div>

        <div class="pt-2 d-flex justify-content-between ">
          <button type="submit" class="btn btn-primary" id="submitButton">Add Product</button>
          <p class="buttonClose">[x Close]</p>
        </div>
      </form>
    </div>
      
    <div class="filterProduct row form-group mx-1 mb-4 pt-2 col-md-6">
      <input class="filterInput form-control border-primary" type="text" placeholder="Search Products">
    </div>

    <div class="rounded mt-2 pt-2">
      <table class="table table-striped table-hover table-bordered border-primary pt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Supplier</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody id="tableProduct">
              {%for product in products %}
              <tr id="{{product.product.id}}">
                  <td scope="row" class="rowCounter"></td>
                  <td>{{product.product.nameP}} : {{product.product.brand}} </td>
                  <td>{{product.supplier}}</td>
                  <td class="categoryColumn">{{product.product.category}}</td>
                  <td>{{product.price}}</td>
              </tr>
              {%endfor%}
          </tbody>
        </table>
    </div>    
</div>

{%endblock%}

{% load static %}
{% block scripttag%}
<script src="{% static 'company/product.js' %}"></script>
{%endblock%}