@media print {
    
}

.buttonClose {
    color: red;
}

.buttonClose:hover {
    color: rgb(248, 107, 107);
}

.buttonClose:hover, #addButton:hover, #searchList>li:hover, .link:hover {
    text-decoration: underline;
    cursor: pointer;
}


#addButton  {
    color: rgb(124, 222, 252);
}
.link {
    color: #17a2b8;
}

#addButton:hover {
    color: aqua;
}

.productForm, .jobForm {
    display: none;
}

/* To position the footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 90%;
}

/* To number the table rows */
table {
    counter-reset: rowCount;
}
.rowCounter::before{
    /* Increase counter by 1 */
    counter-increment: rowCount;
    content: counter(rowCount);
}

/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content1 {
    background-color: #fefefe;
    padding: 20px;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
  }



@media (min-width: 600px){
    /* Modal Content */
    .modal-content1 {
        width: 60%;
    } 
}

@media (max-width: 599px){
    /* Modal Content */
    .modal-content1 {
        width: 80%;
    } 
}

/* Supplier - Close Button */
  .closeButton {
      cursor: pointer;
      color: red;
  }

/* Hide Personnel Table in Personnels */
#personnel {
    display: none;
}

/* Display the Personnel Table
#personnelSection:hover > #personnel {
    display: block;
} */

.showPersonnel, .hidePersonnel{
    cursor: pointer;
}

.productWarning, .jobWarning {
    display: none;
}

a {
    cursor: pointer;
}
